@page "/"

<AuthorizeView>
    <Authorized>
        <h3>Welcome <b>@context.User.FindFirst("Firstname").Value</b> to Manong Online Shop</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Welcome to Manong Online Shop</h3>
        To use this demo please go to <RadzenLink Text="login" Path="/auth/login" /> and use "manong" for Username
    </NotAuthorized>
</AuthorizeView>
